<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a New Book</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/books" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name of the book" required>
                </div>
				<div class="form-group">
                    <input class="form-control" type="text" name="subject" placeholder="Subject of the book" required>
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price demanded" min="0" step="10" required>
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="contact" placeholder="Contact Number (for contacting you)" min="0" required>
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="year" placeholder="For which year of engineering" min="0" step="1" required>
                </div>
				<div class="form-group">
                    <input class="form-control" type="number" name="bought" placeholder="Bought in which year" min="0" step="1" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="image url(to look nicer get URL from Internet)" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="description" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/books">Go Back</a>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>

