<!--Div where the WhatsApp will be rendered-->  
<!-- <div id="WAButton">
	<script type="text/javascript">  
   $(function () {
           $('#WAButton').floatingWhatsApp({
               phone: '9536210514', //WhatsApp Business phone number
               headerTitle: 'Chat with us on WhatsApp!', //Popup Title
               popupMessage: 'Hello, how can we help you?', //Popup Message
               showPopup: true, //Enables popup display
               buttonImage: '<img src="whatsapp.svg" />', //Button Image
               //headerColor: 'crimson', //Custom header color
               //backgroundColor: 'crimson', //Custom background button color
               position: "right" //Position: left | right

           });
       });
</script>  
	</div>    -->

</body>
</html>